/.idea

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

user.yaml
/service/video/etc/video.yaml
/api/etc/api.yaml
service/interaction/etc/interaction.yaml
service/interaction/etc/interaction.yaml
